/* box02 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#box02 {
  background-color: #e8e8e8;
}
#box02 > div {
  width: 1115px;
  margin: 0 auto;
}
#box02 > div .box {
  position: relative;
  padding-left: 429px;
}
#box02 > div .box figure {
  position: absolute;
  left: 0;
  top: 0;
  width: 429px;
}
#box02 > div .box > div p.text {
  line-height: 30px;
  margin-bottom: 45px;
}
#box02 > div .box > div p.btn {
  text-align: right;
}
#box02 > div .box > div p.btn button {
  width: 196px;
  height: 53px;
  background-color: #949494;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 26px;
}

/* box03 */
#box03 > div {
  width: 1300px;
  margin: 0 auto;
}
#box03 .box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#box03 .box > div {
  width: 50%;
}
#box03 .box > div p.text {
  line-height: 30px;
  width: 493px;
}
#box03 .box ul {
  width: 50%;
}
#box03 .box ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #cbcbcb;
  margin: 0 8px;
  margin-bottom: 16px;
  float: left;
  text-indent: -9999px;
  background: url(../images/icon/html5.png) no-repeat center;
}
#box03 .box ul li:nth-child(1) {
  background-image: url(../images/icon/html5.png);
}
#box03 .box ul li:nth-child(2) {
  background-image: url(../images/icon/css3.png);
}
#box03 .box ul li:nth-child(3) {
  background-image: url(../images/icon/javascript.png);
}
#box03 .box ul li:nth-child(4) {
  background-image: url(../images/icon/jquery.png);
}
#box03 .box ul li:nth-child(5) {
  background-image: url(../images/icon/react.png);
}
#box03 .box ul li:nth-child(6) {
  background-image: url(../images/icon/npm.png);
}
#box03 .box ul li:nth-child(7) {
  background-image: url(../images/icon/git.png);
}
#box03 .box ul li:nth-child(8) {
  background-image: url(../images/icon/bootstrap.png);
}
#box03 .box ul li:nth-child(9) {
  background-image: url(../images/icon/vue.png);
}
#box03 .box ul li:nth-child(10) {
  background-image: url(../images/icon/sass.png);
}
#box03 .box ul li:nth-child(11) {
  background-image: url(../images/icon/adobe-xd.png);
}
#box03 .box ul li:nth-child(12) {
  background-image: none;
}