/* box02 */

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

#box02 {
  background-color: #e8e8e8;

  &>div {
    width: 1115px;
    margin: 0 auto;

    .box {
      position: relative;
      padding-left: 429px;

      figure {
        position: absolute;
        left: 0;
        top: 0;
        width: 429px;
      }

      &>div {

        p.text {
          line-height: 30px;
          margin-bottom: 45px;
        }

        p.btn {
          text-align: right;
          button {
            width: 196px;
            height: 53px;
            background-color: #949494;
            border: none;
            color: #fff;
            font-size: 20px;
            border-radius: 26px;
          }
        }
      }
    }
  }
}

/* box03 */
#box03 {

  &>div {
    width: 1300px;
    margin: 0 auto;
  }

  .box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &>div {
      width: 50%;

      p.text {
        line-height: 30px;
        width: 493px;
      }
    }

    ul {
      width: 50%;

      li {
        width: 80px;
        height: 80px;
        border: 2px solid #cbcbcb;
        margin: 0 8px;
        margin-bottom: 16px;
        float: left;
        text-indent: -9999px;
        background: url(../images/icon/html5.png) no-repeat center;

        &:nth-child(1) {background-image: url(../images/icon/html5.png);}
        &:nth-child(2) {background-image: url(../images/icon/css3.png);}
        &:nth-child(3) {background-image: url(../images/icon/javascript.png);}
        &:nth-child(4) {background-image: url(../images/icon/jquery.png);}
        &:nth-child(5) {background-image: url(../images/icon/react.png);}
        &:nth-child(6) {background-image: url(../images/icon/npm.png);}
        &:nth-child(7) {background-image: url(../images/icon/git.png);}
        &:nth-child(8) {background-image: url(../images/icon/bootstrap.png);}
        &:nth-child(9) {background-image: url(../images/icon/vue.png);}
        &:nth-child(10) {background-image: url(../images/icon/sass.png);}
        &:nth-child(11) {background-image: url(../images/icon/adobe-xd.png);}
        &:nth-child(12) {background-image: none}
      }
    }
  }
}

// box04
#box04 {
  background-color: #c3c3c3;
  text-align: center;
  &>div {

    h3 {
      color: #fff;
    }

    p.title {
      color: #fff;
    }

    p.text {
      width: 60%;
      line-height: 30px;
      margin: 0 auto;
      margin-bottom: 35px;
      color: #fff;
    }

    ul {
      margin-bottom: 40px;
      li {
        display: inline-block;
        padding: 0 20px;
        border-left: 1px solid #fff;

        a {color: #fff;}

        &:first-child {
          border-left: none;
        }
      }
    }

    #gallery {
      width: 1300px;
      margin: 0 auto;
      #all {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        figure {
          width: calc(33% - 46px);
          margin-bottom: 46px;
          color: #fff;

          img {
            display: block;
            max-width: 100%;
            margin-bottom: 23px;
          }

          figcaption {
            margin-top: 18px;
          }
        }
      }

      .prev {display: none;}
      .next {display: none;}
    }
  }

}

// box05
#box05 {
  background-color: #9c9c9c;
  &>div {
    width: 1113px;
    margin: 0 auto;

    h3 {
      color: #fff;
    }

    .box {
      position: relative;
      padding-right: 480px;

      &>div {
        // jquery에서 해결ㄴ
        height: 466px;

        .title {
          color: #fff;
        }
        .text {
          line-height: 30px;
          width: 446px;
          color: #fff;
        }
      }

      form {
        position: absolute;
        top: 0;
        right: 0;
        width: 443px;
        padding: 30px 20px;
        box-sizing: border-box;
        background-color: #fff;

        ul {
          li {
            margin-bottom: 20px;
            label {
              display: block;
            }
            input {
              width: 100%;
              box-sizing: border-box;
              line-height: 43px;
              background-color: #eaeaea;
              border: none;
            }
            
            textarea {
              width: 100%;
              box-sizing: border-box;
              height: 120px;
              background-color: #eaeaea;
              border: none;
              resize: none;
            }
          }
        }
        .btn {
          input {
            width: 100%;
            border: none;
            background-color: #eaeaea;
            line-height: 43px;
          }
        }
      }
    }
  }
}


//  aside
aside {
  .tap {
    position: fixed;
    bottom: 125px;
    right: 22px;
    width: 35px;
    height: 35px;
    line-height: 1;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: #fff;
  }

  ul.scroll {
    position: fixed;
    right: 10px;
    top: 50%;
  }
}

// footer
footer {
  padding: 40px 0;
  text-align: center;
  background-color: #333;
  color: #fff;
}